*{  
    color:#E0E0E0;
    margin:0;
}

body{
    background: linear-gradient(to bottom right, #001F3F, #003366, #004A80, #1E90FF);
    height: 100vh;
    display: flex;
    flex-direction:Column;
    align-items: center;
    padding:2rem;
    box-sizing: border-box;
}

video { 
    background-color: #001F3F; 
    display: block; 
    margin: 6px auto; 
    width: 420px; 
    height: 240px; 
} 
  
audio { 
    display: block; 
    margin: 6px auto; 
} 
  

.heading{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
}

.label-select{
    display: flex;
    flex-direction: row;
}

label{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

select{
    background-color:#1E90FF;
    color:#E0E0E0;
    font-size: 15px;
    padding:5px;
}

.icon-outside-container{
    background-color: #001F3F;
    border-radius: 40px;
    padding:10px;
    display: inline-block; 
    border:none;
    margin:10px;
}

.icon-inside-container{
    background-color: red;
    border-radius: 30px;
    padding:10px 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-inside-container:hover {
    transform: scale(1.2); 
}

.icon-inside-container i {
    font-size: 1em;
    color: #E0E0E0; 
}

.display-none{
    display:none
}


.download-btn {
    display: flex;
    justify-content: center; 
    text-decoration: none;
    padding: 10px 20px; 
    background-color: #007bff;
    color: white;
    border-radius: 5px; 
    font-size: 20px;
    transition: background-color 0.3s;
    margin-top:15px;
}

.download-btn:hover {
    background-color: #0056b3;
}

.audio-recorder{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recording-btn-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.recording-status{
    color:yellow;
    font-size: 20px;
    margin:30px 0px 15px 0px;
    text-align: center;
}